  .hero {
      background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
      color: white;
      padding: 100px 0;
    }
    .hero h1 {
      color: #fff;
      font-size: 3rem;
    }
   .navbar{
    width: auto;
    height: 50px;
   }
   .collapse{
    display: inline;
    padding-top: 20px;
   }